<!-- Include the library. -->
<script
  src="https://unpkg.com/github-calendar@latest/dist/github-calendar.min.js">
</script>

<!-- Optionally, include the theme (if you don't want to struggle to write the CSS) -->
<link
  rel="stylesheet"
  href="https://unpkg.com/github-calendar@latest/dist/github-calendar-responsive.css"
/>

<div class="text-center mt-4">
  <h1>GitHub Contributions for Batch #488 (+ special guests)</h1>
  <p>Note: Contributions to private repositories may not show up.</p>
</div>

<!-- Display current user's chart first -->
<div class="chart-container">
  <%= render partial: "chart", locals: {user: current_user} %>
</div>

<% @users_except_current.all.each do |user| %>
  <div class="chart-container">
    <%= render partial: "chart", locals: {user: user} %>
  </div>
<% end %>
