.images-container {
  display: flex;
  justify-content: space-evenly;
  padding-inline: 250px;
}

.image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.image-caption {
  flex-direction: column;
}

em {
  font-style: normal;
  color: #00cc00;
  text-shadow: 0 0 3px #00cc00;
}
