@import "config/colors";

.images-container {
  display: flex;
  justify-content: space-evenly;
  padding-inline: 250px;
}

.image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.image-caption {
  flex-direction: column;
}

em {
  font-style: normal;
  color: $text-color;
  text-shadow: 0 0 3px $text-color;
}
